/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

#page {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  margin: 10px 200px;
  text-align: center;
  width: 960px;
}

header {
  color: #2B4E80;
  font-size: 36px;
  height: 150px;
  margin: 15px;
  padding: 15px;
}

.question-box {
  align-items: center;
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  height: 520px;
  margin: 20px;
  width: 520px;
}

.get-answer,
#question-input {
  color:white;
  height: 36px;
  font-size: 24px;
  margin-top: 5px;
  width: 90%;
}

.get-answer {
  background-color: #2B4E80;
}

.get-answer:hover {
  background-color: #1C3455;
}

.get-answer:disabled {
  background-color: #607AA0;
}

#question-input{
  color: #2B4E80;
}

.eight-ball{
  height: 240px;
  margin-top: 65px;
  width: 240px;
}

.hidden {
  display: none;
}

.clear {
  align-self: flex-end;
  background-color: #D0CDCD;
  height: 36px;
  font-size: 24px;
  margin-top: 84px;
  margin-right: 5px;

}

.woody-box {
  align-self: end;
  width: 360px;
  margin: 20px;
}
